/* header.js */
/*
.themebtn{
  background-image: url(../images/paintbrush.png);
  height: 25px;
  width: 25px;
  position: absolute;
  margin-right: 20px;
  right: 0;
  background-color: rgba(0,0,0,0) !important;
  top: 15px;
  outline: 0;
  box-shadow: none!important;
  border:1px transparent;
}

.themebtn:focus {
    outline: none;
}

.themebtn:hover {
  animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
*/

.nav-link.profile{
  position: absolute;
  margin-right: 20px;
  right: 0;
  top: -0.2px;
}
.notification{
  background-image: url(../images/bell.png);
  height: 25px;
  width: 20px;
  position: absolute;
  margin-right: 100px;
  right: 0;
  background-color: rgba(0,0,0,0) !important;
  top: 15px;
  outline: 0;
  box-shadow: none!important;
  border:1px transparent;
}

.themebtn:focus {
    outline: none;
}

.themebtn:hover {
  animation: bounce 1s;
}


.logIn{
  margin:0px auto;
  position: absolute;
  margin-right: 20px;
  left: 81%;
  color: white;
  top: 15px;
  background-color: rgba(0,0,0,0);
}

.signUp{
  position: absolute;
  margin-right: 20px;
  left: 87%;
  color: white;
  top: 15px;
  background-color: rgba(0,0,0,0);
}

.themebtn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.nav-link{
  color: white;
}

@import url('https://fonts.googleapis.com/css?family=Questrial|Vollkorn+SC&display=swap');
