.authcontainer{
  padding: 200px;
  background-image: url(../../images/back4.png);
  background-size: cover;
	overflow: hidden;
  min-height: 100vh;
}

.authcontainer2{
  padding: 200px;
  background-image: url(../../images/back4.png);
  background-size: cover;
	overflow: hidden;
  min-height: 100vh;
}

.log{
  display: block;
  margin: 10px 0;
  margin-top: 20px;
  line-height:10px;
  content: " ";
}

.inputBox{
        width: 35%;
        margin: 10;
        padding: 15;
        fontSize: 16;
        borderColor: #d3d3d3;
        borderBottomWidth: 1px;
        textAlign: center;
        flex: 1;
        backgroundColor: #fff;
        alignItems: center;
        justifyContent: center;
}
